Welcome to Compliment Mailbox, #{@user.name}!
===============================================
 
You have successfully signed up to receive awesome compliments.
 
To login to the site, just follow this link: <%= @url %> and use your email as your login.
 
Thanks for joining and have a great day!
