!!!
%html
  %head
  %body
    %h1 Welcome to Compliment Mailbox, #{@user.name}!
    %p You have successfully signed up to receive awesome compliments. To login, please follow this link: #{@url}.
    %p Have a beautiful day.