%h1= @user.name
%h3 Compliments Sent:
- if @user.sent_compliments.any?
  = render partial: 'compliments/sent_compliment', collection: @sent, as: 'compliment'
- else
  %p This user hasn't sent any compliments.
%h3 Compliments Received:
- if @user.received_compliments.any?
  = render partial: 'compliments/received_compliment', collection: @received, as: 'compliment'
- else
  %p This user hasn't received any compliments yet. Why not pay them one?