.inner
  %h1 About
  %p A little procrastination tool for you. Compliment your classmates on their awesome code, or on their fabulous hair. It's never a bad idea to tell someone how great you think they are.