%p
  = compliment.content
%p
  - if compliment.recipient_id == current_user.id || compliment.sender_id == current_user.id
    %span{class: 'black'}= link_to 'Delete', compliment, method: :delete, data: {confirm: 'Are you sure?'}